.add-to-cart {
  display: flex;
  align-items: center;
}
  
.add,
.remove {
  background-color: #000;
  color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1.4rem;
  border: none;
  min-width: 3rem; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}
  
.add:hover,
.remove:hover{
  background-color: rgb(58, 60, 32); 
  transform: scale(1.005);
}

.quantity {
  padding: 0 0.5rem;
  font-size: 1.4rem;
}
  